// Primary Color
$color-primary: #FEF4F5;
$border-focus: #FED6D7;
$border-default: #EAE8E8;
$color-placeholder: #DCDADA;
$color-red-primary: #F72121;
$color-form-chat: #F9F9F9;
$color-draft: #F8879C;
$color-chat: #141416;
$color-select-hover: #F5F7FA;

//color-primary
$color-white: #ffffff;
$color-text-primary: #324054;
$color-black: #000000;
$color-black-100: #000000;
$color-blue: #38B4B8;
$color-blue-2: #2086F9;
$color-blue-3: #EAF9F9;
$color-blue-4: #14A0A5;
$color-blue-5: #F1F9FF;
$color-orange: #FFAB49;
$color-orange-50: #FFECD7;
$color-green: #0ABF5F;
$color-red: #F62121;
$color-red-2: #F72121;
$color-red-3: #FFF5F5;
$color-yellow: #FFEC42;
$color-footer-left: #A6B3C6;
$color-sidebar: #063189;
$color-home: #ECEEF4;
$color-yellow-100: #FFC93B;

  //color-text
$color-text-1: #324054;
$color-text-2: #B2ABAB;
$color-text-3: #B3B3B3;
$color-calendar-sub-title: #5C5B5B;

//bg-color
$color-bg-footer: #F7F7F7;
$color-bg-btn: #FFE8E8;
$color-tab: #EFF6FF;
$color-dark-50: #D0DBE5;
$color-dark-100: #686868;
$color-dark-200: #A5B3C6;
$color-dark-000000: #000000;
$color-white-50: #F5F7F9;
$color-bg-table: #EEEEEE;
$color-disable: #F1F1F1;
$color-bg-tab: #E6E6E6;
$color-bg-tab-active: #00AEE5;

//color-button
$color-button-danger: #00AEE5;
$color-hover-danger: #43CCF8;
$color-focus-danger: #0AA0CF;
$color-bg-default: #EAF6FF;
$color-button-hover: #2D68FE;
$color-button-focus: #063189;
$color-button-disable: #DCDADA;
$color-button-yellow_focus: #FFFBF0;

$color-blue-50: #DAEAFF;
$color-blue-100: #0D99FF;
$color-red-50: #FFC8C8;
$color-blue-200: #D5EDFF;

$color-gray-1: #B3B3B3;

$--color-primary: #2D68FE !default;

//color-toast
$color-bg-success: #F1FFF7;
$color-border-success: #4AD78B;
$color-bg-error: #FFF5F5;
$color-border-error: #FD9090;
$color-bg-warning: #FFF5EA;
$color-border-warning: #FFCA8B;

//color-pagination
$color-pagination-disabled: #DCDADA;

// color-text-hover
$text-black-hover: #5C5B5B
