.password {
  padding: 16px 20px 20px 0;

  .el-form-item {
    margin-bottom: 0;
  }

  .el-input__suffix {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 900px) {
    padding: 12px 10px 60px 10px;
    height: auto;
    width: 100%;
    .password-table {
      padding: 12px;
    }
  }

  &-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @media screen and (max-width: 900px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-table {
    margin-top: 16px;
    background: $color-white;
    border-radius: 4px;
    width: 784px;
    min-height: 391px;

    @media screen and (max-width: 900px) {
      width: unset;
    }
  }


  &-container {
    padding: 20px;

    @media screen and (max-width: 900px) {
      padding: 0;
    }
  }

  &-col {
    display: grid;
    grid-template-columns: 220px 3fr;
    gap: 24px;
    min-height: 46px;
    font-size: 14px;
    line-height: 22px;

    @media screen and (max-width: 1150px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    background: $color-bg-tab;
    padding: 9px 20px;
    color: $color-chat;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    @media screen and (max-width: 1150px) {
      width: unset;
    }
  }

  &-content {
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 3px 0;
    width: 100%;
  }

  &-button {
    display: grid;
    grid-template-columns: 220px 3fr;
    grid-gap: 24px;
    gap: 24px;
    min-height: 46px;
    font-size: 14px;
    line-height: 22px;
    padding-left: 20px;
    padding-top: 15px;

    .el-button {
      width: 150px;
      height: 40px;
    }
  }
  .el-form-item__error {
    position: relative;
  }
}

.password-sp {
  display: none;
}

.password-title-sp {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 5px;
}

.password-content-sp {
  position: absolute;
  top: 35px;
  right: 15px;
}

.password-col-sp {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 24px;
}

@media screen and (max-width: 900px) {
  .password-sp {
    display: block;
  }

  .password-pc {
    display: none;
  }
}
