.education-tab {
  &__header {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    & h3 {
      font-size: 24px;
      margin: 0;
      height: 100%;
      display: inline-block;
      line-height: 40px;
      background-color: $color-black;
      color: $color-white;
      padding: 0 3px;
    }
  }

  &__body:not(:last-child) {
    padding-bottom: 24px;
  }

  &__description {
    margin-top: 16px;
    margin-bottom: 20px;
  }

  &__col {
    display: grid;
    grid-template-columns: 152px 3fr;
    gap: 20px;
    min-height: 40px;
  }

  &__left {
    display: flex;
    align-items: center;
    background: $color-bg-tab;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 9px 20px;
    margin-bottom: 3px;
  }

  &__right {
    padding: 9px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    white-space: break-spaces;
  }
}
