.header {
  background-color: $color-white;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
    }
  }

  &-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 34px;
    margin: 8px 90px 8px 0;

    @media screen and (max-width: 900px) {
      padding-left: 10px;
      padding-right: 0;
      justify-content: space-between;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    position: relative;

    &__noti {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14.5px;
      background: $color-red-2;
      color: $color-white;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      position: absolute;
      top: -8px;
      padding: 0 5px;
      right: -5px;
    }

    &__text {
      padding-left: 12px;
      font-weight: 700;
      font-size: 12px;
      line-height: 22px;
      color: $color-black;
    }
  }

  &-dropdown {
    display: flex;
    align-items: center;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      padding-left: 10px;
    }

    .caret {
      padding-left: 10px;
    }
  }
  .header-pc {
    .header-logo {
      margin: 10px 0 6px 40px;
    }
  }
}

.header-content:first-child::after {
  content: '|';
  width: 6px;
  position: absolute;
  right: -20px;
  height: 27px;
  color: $border-default;
}

.el-dropdown {
  padding-left: 16px;

  .header-dropdown {
    cursor: pointer;
  }
}

.el-dropdown-menu {
  box-shadow: 0px 1px 7px rgba(177, 175, 175, 0.25);

  .popper__arrow {
    display: none;
  }
}

.header-sp {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-left: 16px;
}

.banner-element {
  height: 90px;
  text-align: left;
  background: url('~/assets/images/banner.png') no-repeat;
  background-size: cover;
  .banner-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: $color-white;
    padding-top: 7px;
  }
  .banner-content {
    margin: 0 auto;
    padding-left: 90px;
  }
  .sub-title {
    color: $color-white;
    display: flex;
    position: relative;
    top: -11px;
    span {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
    }
    .sub-banner-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding-top: 14px;
      margin-left: 16px;
    }
  }
}


@media screen and (max-width: 540px) {
  .header-pc {
    display: none;
  }

  .header-sp {
    display: flex;
  }
  .banner-element {
    .banner-content {
      padding-left: 20px;
    }
  }
}
